<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <parameter name="URL" value="qaclick"/>
  <test thread-count="5" name="Test">
  <groups>
  <run>
    <include name="smoke"></include>
  </run>
  </groups>
  
    <classes>
      <class name="org.seleniumhq.selenium.SeleniumTest"/>
      <class name="org.seleniumhq.selenium.AppiumTest"/>
      <class name="org.seleniumhq.selenium.RestAPITest"/>
    </classes>
  </test> 
</suite> 
